.footer {
  @include container-properties;
  background-color: #333;

  &__container { 
      @include container-item-properties;
      padding: 1.5em 0;
      display: flex;
  }

  
  &__nav {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      @include smaller-than-tablet { display: none; }
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) { 
        margin: 0 .5em ;
    }
  }
  
  &__logo { 
    height: 45px; 
    margin-right: 65px;
  }

  &__nav-link { 
    font-weight: bold;
}

  &__legal-notice {
      display: flex;
      align-items: center;
      color: #fff;
      margin-left: auto;
  }
}