.footer {
  @include container-properties;
  background-color: #333;

  & li:nth-child(1){
    color: #F380C5;
  }
  & li:nth-child(2){
    color: #E51818;
  }
  & li:nth-child(3){
    color: #FF8A00;
  }
  & li:nth-child(4){
    color: #FFC700;
  }
  & li:nth-child(5){
    color: #30BC65;
  }
  & li:nth-child(6){
    color: #4D87E7;
  }
  & li:nth-child(7){
    color: #8B55E4;
  }
  & li{
    border-bottom: 3px solid #333;
    padding-bottom: .25em;
  }
  & li:hover{
    color:#fff;
    border-bottom: 3px solid #fff;
  }

  &__container { 
      @include container-item-properties;
      padding: 1.5em 0;
      display: flex;
  }

  
  &__nav {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      @include smaller-than-tablet { display: none; }
      
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) { 
        margin: 0 .5em ;
    }
  }
  
  &__logo { 
    height: 45px; 
    margin-right: 65px;
  }

  &__nav-link { 
    font-weight: bold;
}

  &__legal-notice {
      display: flex;
      align-items: center;
      color: #fff;
      margin-left: auto;
  }
}