.header-section {
  background-color: $color_light;

  &__header {
    max-width: none;
    padding-top: 250px;
    padding-bottom: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_default;
    background-size: auto 250%;
    background-position: calc(50% + 400px) 50%;
    overflow-y: visible;
    margin-top: -110px;
    margin-bottom: -100px;
  }

  &__content {
    max-width: 50%;
    color: $color_light_grey;
    line-height: 150%;
    padding-bottom: 50px;

    &:last-child     { margin-bottom: 0 }
  }

  &__title {
    font-family: $font_family_primairy;
    font-weight: bold;
    font-size: $font_size_xxlarge;
    max-width: 600px;
    color: #ffffff;
    margin-bottom: 50px;
    overflow: visible;
    padding: .25em;
    @include smaller-than-tablet {
      font-size: $font_size_large;
    }
    
  }
}

#lgbtq {
  .header-section__title{
      background: #FF8A00;
    }
}
#queerChristian {
  .header-section__title{
      background: #FFC700;
    }
}
#bible {
  .header-section__title{
      background: #74DB5F;
    }
}